<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/Matrimony">
      <img src="/img/KandhaLogo.png" style="height:5%;width: 5%;" alt="Logo" />
      <span class="ml-2">கந்தகோட்டம் சேவா சங்கம்</span>
    </a>
    <link rel="stylesheet" href="/css/styles.css" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Matrimony">Find Matching Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Profile">Create Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Update-Profile">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search-profile">Search Profile</a>
        </li>
        <li class="nav-item">
          <button id="signoutButton" class="btn btn-danger ml-2 align-self-center">Sign Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>