<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <!-- Local jQuery -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!-- Local jQuery UI -->
    <script src="/js/jquery-ui.min.js"></script>
    <script>

    </script>
</head>

<body style="background-image: url(/img/03-04.jpg);">
    <div class="wrapper d-flex flex-column min-vh-100">
        <%- include('partials/navbar') %>

            <div class="container">
                <div class="text-center mt-4 mb-2">
                    <h3>Create Profile</h3>
                    <small class="text-muted">Create a new profile </small>
                </div>

                <div class="form-container">

                    <form id="profileForm">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="serial">Serial Number:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="serial" name="serial" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="name">Name:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="fathername">Father Name:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="fathername" name="fathername" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="mothername">Mother Name:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="mothername" name="mothername" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="siblings">Siblings:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="number" class="form-control" id="siblings" name="siblings" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="gothiram">Gothiram:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" id="inputGothiram" name="inputGothiram" class="form-control" required
                                    pattern="[a-zA-Z\s]+" title="Please enter only alphabets and spaces"></input>
                                <div class="invalid-feedback">Please enter Gothiram using only alphabets and spaces.
                                </div>
                                <ul id="suggestions"></ul>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="birthdate">Birth Date:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="birthdate" name="birthdate" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="birthtime">Birth Time:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="birthtime" name="birthtime">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="birthplace">Birth Place:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="birthplace" name="birthplace">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="graduation">Graduation:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select class="form-control" id="graduation" name="graduation" required>
                                    <option value="">Select</option>
                                    <option>School</option>
                                    <option>Diploma</option>
                                    <option>UG</option>
                                    <option>PG</option>
                                    <option>PHD</option>
                                    <option>Doctor</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="QDetails">Qualification Details</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="QDetails" name="QDetails" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="job">Job Details:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="job" name="job">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="income">Monthly Income:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="number" class="form-control" id="income" name="income" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="phno">Contact Number:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="number" class="form-control" id="phno" name="phno" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="gender">Gender:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select class="form-control" id="gender" name="gender" required>
                                    <option value="">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="nakshatraid">Natchathiram</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select id="nakshatraid" name="nakshatraid" class="form-control" required></select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="Region">Region</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select class="form-control" id="region" name="region" required>
                                    <option>Chennai</option>
                                    <option>Others(TN)</option>
                                    <option>Others(IND)</option>
                                    <option>Overseas</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="Aph">Alternate Ph No</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="Aph" name="Aph">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="address">Address:</label>
                            </div>
                            <div class="form-group col-md-2">
                                <!-- <input type="text" class="form-control" id="address" name="address"> -->
                                <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="Region">Rasi (Lagnam)</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select class="form-control" id="rasiLagnam" name="rasiLagnam" required>
                                    <option>Suth</option>
                                    <option>Sani</option>
                                    <option>Sevai</option>
                                    <option>Raaghu/Kethu</option>
                                    <option>Sani/Sevai</option>
                                    <option>Sani/Kethu/Raaghu</option>
                                    <option>Sevai/Kethu/Raaghu</option>
                                    <option>Sani/Sevai/Kethu/Raaghu</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="isRemarried">Is Remarried</label>
                                <input type="hidden" name="isRemarried" id="isRemarriedHidden">
                            </div>
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="isRemarriedToggle">
                                    <label class="custom-control-label" for="isRemarriedToggle"></label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="Region">Navamsam (Lagnam)</label>
                            </div>
                            <div class="form-group col-md-2">
                                <select class="form-control" id="navamsamLagnam" name="navamsamLagnam" required>
                                    <option>Suth</option>
                                    <option>Sani</option>
                                    <option>Sevai</option>
                                    <option>Raaghu/Kethu</option>
                                    <option>Sani/Sevai</option>
                                    <option>Sani/Kethu/Raaghu</option>
                                    <option>Sevai/Kethu/Raaghu</option>
                                    <option>Sani/Sevai/Kethu/Raaghu</option>
                                </select>
                            </div>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <%- include('partials/footer') %>
    </div>

    <!-- Bootstrap JS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <script src="../js/scripts.js"></script>
    <script src="../js/popper.min.js"></script>
    <!-- Custom JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var remarriedToggle = document.getElementById('isRemarriedToggle');
            var remarriedHidden = document.getElementById('isRemarriedHidden');

            // Function to update the hidden input value based on the checkbox state
            function updateHiddenInput() {
                remarriedHidden.value = remarriedToggle.checked ? true : false;
            }

            // Add event listener to update the hidden input when the checkbox state changes
            remarriedToggle.addEventListener('change', updateHiddenInput);

            // Initialize the hidden input value based on the initial checkbox state
            updateHiddenInput();
        });
        $(document).ready(function () {
            $(function () {
                $("#birthdate").datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1950:2025"
                });
            });

            fetch('/dropdown', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(options => {
                    const nakshatraId = document.getElementById('nakshatraid');
                    options.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.id;
                        optionElement.text = option.name;
                        nakshatraId.add(optionElement);
                    });
                })
                .catch(error => console.error('Error fetching:', error));


            $('#profileForm').submit(function (e) {
                e.preventDefault();
                $('#isRemarriedHidden').val($('#isRemarriedToggle').is(':checked') ? true : false);
                console.log("nakshatraid value: " + $('#nakshatraid').find("option:selected").val());
                const formData = {
                    "serial_no": $('#serial').val(),
                    "name": $('#name').val(),
                    "father_name": $('#fathername').val(),
                    "mother_name": $('#mothername').val(),
                    "siblings": $('#siblings').val(),
                    "gothram": $('#inputGothiram').val(),
                    "birth_date": $('#birthdate').val(),
                    "birth_time": $('#birthtime').val() ? $('#birthtime').val() : '00:00',
                    "birth_place": $('#birthplace').val(),
                    "qualification": $('#graduation').find("option:selected").val(),
                    "job_details": $('#job').val(),
                    "monthly_income": $('#income').val(),
                    "address": $('#address').val(),
                    "contact_no": $('#phno').val(),
                    "gender": $('#gender').find("option:selected").val(),
                    "is_active": true,
                    "nakshatraid": $('#nakshatraid').find("option:selected").val(),
                    "region": $('#region').find("option:selected").val(),
                    "additional_contact_no": $('#Aph').val(),
                    "qualification_details": $('#QDetails').val(),
                    "is_remarried": $('#isRemarriedHidden').val(),
                    "rasi_lagnam": $('#rasiLagnam').val(),
                    "navamsam_lagnam": $('#navamsamLagnam').val(),
                };
                console.log("Data formeed" + JSON.stringify(formData));
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:3000/api/Create-profile', // Replace with your API endpoint
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        alert('Profile created successfully');
                        window.location.href = '/Find-Matching';
                        // Optionally, redirect to a new page or perform other actions
                    },
                    error: function (error) {
                        console.error('Error:', error);
                        alert('An error occurred while creating the profile.Toink');
                    }
                });
                // window.location.href = '/Matrimony';
            });
        });


        const textbox = document.getElementById('inputGothiram');
        const suggestionsList = document.getElementById('suggestions');

        // Function to fetch suggestions from backend
        const fetchSuggestions = async () => {
            const userInput = textbox.value;
            if (!userInput) {
                suggestionsList.innerHTML = ''; // Clear suggestions if input is empty
                return;
            }

            try {
                const response = await fetch(`/fetchAvailableGothrams?input=${userInput}`);
                const data = await response.json();

                // Display suggestions
                suggestionsList.innerHTML = '';
                data.forEach(item => {
                    const li = document.createElement('li');
                    li.textContent = item.gothram;
                    li.addEventListener('click', () => selectSuggestion(item.gothram)); // Add click event listener to select suggestion
                    suggestionsList.appendChild(li);
                });
            } catch (error) {
                console.error('Error fetching suggestions:', error);
            }
        };

        // Event listener for textbox input
        textbox.addEventListener('input', fetchSuggestions);

        // Function to select a suggestion
        const selectSuggestion = (value) => {
            textbox.value = value; // Set textbox value to selected suggestion
            suggestionsList.innerHTML = ''; // Clear suggestions
        };

    </script>
</body>

</html>